.classes_container {
  margin-top: 1.6rem;
  display: grid;
    gap: 2rem;
}

.classBox {
  padding: 2.4rem;
  border: 1px solid #EBEBEB;
  border-radius: 1.6rem;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 1.6rem;
  align-items: center;
  position: relative;
}

@media (max-width: 991px) {
  .classBox {
    grid-template-columns: 1fr;
  }
}

.classBox section {
  display: grid;
  gap: 0.8rem;
}

.classBox section h4 {
  font-size: 2rem;
}

.classBox section div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.classBox section:has(.action_btn) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.action_btn,
.attendance_status {
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border-radius: 999px;
}

.action_btn {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.attendance_status {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  display: inline-block;
}

.greeting {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.greeting span {
  color: var(--main-color);
  font-size: 2.5rem;
}

.join_error {
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
}