.sidebar {
  background-image: linear-gradient(180deg, #4CAD7F 0.86%, #1C8A44 101.37%);
  padding: 3.2rem 0.4rem;
}  

.arrow {
  cursor: pointer;
  position: absolute;
  left: -16px;
  top: 0;
}

.logo {
  display: block;
  margin-inline: auto;
}

.sidebar section {
  padding: 3.2rem 1.6rem 0;
  position: relative;
}

.sidebar menu {
  color: #fff;
  display: grid;
  gap: 0.8rem;
}

.sidebar menu:first-of-type {
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #EBEBEB;
}

.sidebar menu a {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar menu a span {
  flex: 1;
  white-space: nowrap;
}

.sidebar menu a span.collapse {
  display: none;
}
