.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.container section div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container section div:not(:last-of-type) {
  margin-bottom: 0.8rem;
}

.title {
  background-color: var(--main-color);
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  color: #fff;
  width: 90%;
}

.title span {
  font-size: 1.4rem;
}

.totalTime {
  color: var(--main-color);
}

.attendanceTime {
  color: var(--gray-color);
}