.header {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
  padding-block: 0.5rem;
  height: 4.8rem;
}

@media (max-width: 991px) {
  .header {
    background-color: var(--main-color);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-inline: auto;
}

.box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: auto;
}

.btn {
  padding: 6px;
  border-radius: 4px;
  background-color: #e8fcf1;
  font-weight: 700;
  color: var(--main-color);
  font-size: 16px;
}

.menuIcon {
  stroke: var(--main-color);
  cursor: pointer;
}

.userPhoto {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.userPhoto img {
  height: 100%;
  object-fit: cover;
}

.notifications {
  position: relative;
  display: flex;
  cursor: pointer;
}

.bell {
  stroke: var(--gray-color);
}

@media (max-width: 991px) {
  .bell,
  .menuIcon {
    stroke: #fff
  }
}

.badge {
  position: absolute;
  background: #e11d48;
  width: 14px;
  height: 14px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: -3px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
}
