.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .rightBox {
    background-image: url("../../assets/login-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}

.loginBox {
  width: clamp(300px, 90%, 900px);
  display: grid;
  gap: 4.8rem;
}

.loginBox h2 {
  font-size: 3.2rem;
  text-align: center;
}

.loginBox form {
  display: grid;
  gap: 1.6rem;
}

.loginBox form label {
  border: 1.5px solid #B5B7C0;
  border-radius: 0.4rem;
  padding: 2.2rem 1.6rem;
  position: relative;
  cursor: text;
}

.loginBox form label span {
  position: relative;
  color: #B5B7C0;
  font-size: 1.8rem;
  transition: 0.3s;
}

.loginBox form label span.hide,
.loginBox form label:has(input:focus) span {
  opacity: 0;
}

.loginBox form label span::after {
  content: "*";
  position: absolute;
  left: -14px;
  color: red;
  font-size: 3rem;
  bottom: -8px;
}

.loginBox form label input {
  position: absolute;
  inset: 0;
  z-index: -1;
  padding-inline: 1.6rem;
  user-select: all;
}

.loginBox form label input[type="text"] {
  font-size: 1.8rem;
}

.loginBox form label input[type="password"] {
  font-size: 2.8rem;
}

.loginBox form a {
  color: #787575;
}

.loginBox form button {
  background-color: var(--main-color);
  color: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 700;
  transition: 0.3s;
}

.loginWithBox p {
  color: #787575;
  position: relative;
  text-align: center;
}

.loginWithBox p span {
  background-color: #fff;
  padding-inline: 1rem;
  position: relative;
}

.loginWithBox p::before {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #D8DADC;
  height: 2px;
  width: 100%;
  right: 0;
}

.actionsBox {
  display: grid;
  gap: 1.6rem;
  margin-top: 1.6rem;
  color: #171717;
  font-size: 1.8rem;
}

.actionsBox button {
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--main-color);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
}

.actionsBox > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBox {
  background-image: linear-gradient(180deg, #4CAD7F 0.86%, #1C8A44 101.37%);
  color: #fff;
  padding: 8.8rem 8.8rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 991px) {
  .leftBox {
    display: none;
  }
}

.title {
  font-size: 5.7rem;
}

.en_title {
  font-size: 2.4rem;
}

.desc {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  max-width: 45ch;
}

.imgContainer {
  text-align: left;
  margin-top: auto;
}

.characterImg {
  width: 524px;
  height: 736px;
  margin-bottom: -7px;
}

.phoneField {
  font-size: 1.8rem;
}