* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  overflow-x: hidden;
}

button,
input {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
  font-size: inherit;
  background-color: transparent;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
menu {
  list-style: none;
}

:root {
  --main-color: #1c8a44;
  --secondary-color: #171717;
  --gray-color: #6f6f6f;
  --orange-color: #ffb72b;
}

.container {
  min-height: 100vh;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

@supports (min-height: 100dvh) {
  .container {
    min-height: 100dvh;
  }
}

.mainContainer {
  display: flex;
}

/* .grid {
  display: grid;
  grid-template-columns: 19rem 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "nav head" "nav content";
}

@media (max-width: 991px) {
  .grid {
    display: block;
  }
} */

.contentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 3.2rem;
  /* padding-bottom: 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .content {
    padding: 1rem;
    flex: unset;
  }
}

.active {
  background-color: #ffb72b;
  border-radius: 0.8rem;
  font-weight: 700;
}

.error {
  font-weight: 700;
  color: red;
  font-size: 1.4rem;
}

.css-r40f8v-MuiTypography-root,
.css-10hburv-MuiTypography-root {
  font-size: 1.6rem !important;
  font-family: inherit !important;
}

.MuiTelInput-IconButton {
  background-color: transparent !important;
}

.css-1wc848c-MuiFormHelperText-root {
  color: #d32f2f !important;
  font-size: 1.8rem !important;
  font-family: inherit !important;
  font-weight: 700 !important;
  margin-top: 1rem !important;
  text-align: right !important;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  height: auto !important;
  font-size: 2rem !important;
  box-sizing: border-box !important;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  direction: ltr;
  padding-block: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
}

/* .icon svg,
.icon svg > path,
.icon svg > path[fill] {
  stroke: #fff;
  fill: #fff;
}

@media (max-width: 991px) {
  .icon svg, 
  .icon svg > path
  .icon svg > path[fill] {
    stroke: var(--secondary-color);
    fill: var(--secondary-color);
  }
} */

/* change the font of google button */
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-family: "Tajawal", sans-serif !important;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  flex-direction: row-reverse !important;
}

.fc-direction-rtl .fc-timegrid-slot-label-frame {
  text-align: center !important;
}

.loadingBox {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal {
  font-family: "Tajawal", sans-serif;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 1.6rem;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
